body {
  background: rgb(238, 238, 238);
  box-sizing: border-box;
}
p {
  color: rgb(51, 51, 51);
  font-size: 1.8rem;
  position: relative;
}
.App {
  text-align: center;
  @media only screen and (min-width: 670px) {
    text-align: left;
  }
  > p {
    margin-left: 1em;
  }
}
.content-wrapper {
  text-align: center;
  @media only screen and (min-width: 670px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: left;
  }
}
.shuffle-icon {
  width: 30px;
  border-radius: 50%;
  box-shadow: 4px 5px 4px 0px rgb(187 187 187 / 80%);
  transition: 0.3s;
  border: 2px solid #363636;
  padding: 0.3em;
  cursor: pointer;
  margin-top: 1em;
  @media only screen and (min-width: 670px) {
    position: absolute;
    margin-top: 0;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);
    &:hover {
      box-shadow: 3px 3px 2px 0px rgb(187 187 187 / 80%);
      transform: translate(-48%);
    }
  }
}
